[submodule "nursing-home-backend"]
	path = nursing-home-backend
	url = https://github.com/kapil1garg/nursing-home-app.git
[submodule "nursing-home-app"]
	path = nursing-home-app
	url = https://github.com/kapil1garg/nursing-home-backend.git
